* {
  margin: 0px;
  padding: 0px;
}

.content {
  display: flex;
  flex-direction: row;
}
.info {
  width: 50%;
  margin: 24px;
  /* background-color: brown; */
}
.img {
  width: 50%;
  margin: 24px;
}
.info_form {
  margin-left: 88px;
}
.info img {
}
.info h1 {
  margin-top: 30px;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 45px;
}
.info span {
  color: blue;
  margin-bottom: 27px;
}
.form_input {
  margin-bottom: 12px;
}
.email {
  margin-top: 27px;
}
.form_input h5 {
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
}
.form_input_block {
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  border-bottom: 1px solid black;
  padding-bottom: 10px;
}
.form_input_block input {
  border: none;
  margin-left: 20px;
}
