.btn_active {
  background-color: blue;
}
.btn_disable {
  background-color: rgb(168, 168, 198);
}
.k10 {
  width: 100px;
  height: 100px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
}
form {
  padding: 20px;
  background-color: rgba(187, 111, 111, 0.4);
}

div {
  margin-bottom: 30px;
  border: none;
}

button {
  width: 100px;
  height: 50px;
  border-radius: 10px;
  border: none;
}
